body{
    font-family: Helvetica, Arial, sans-serif;
    background-color: whitesmoke;
}
.container-left{
    width: 50%;
    display: inline-block;
    align-items: center;
    margin-top: 10rem;
    margin-left: 7rem;
    padding-left: 2rem;
}
img{
    width: 302px;
    height: 106px;
}
.container-right{
    width: 40%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8rem;
    right: 3rem;
}
.login{
    width: 400px;
    height: 350px;
    background:white;
    z-index: 0.5;
    border-style:hidden;
    text-align: center;
    padding-top: 0.2rem;
    border-radius: 7px;
    box-shadow: 0.5px 0.5px 5px rgb(131, 131, 133);
    border-width: 0px;
    padding-left: 0.2rem;
}
.login input{
    width: 21rem;
    height: 3rem;
    margin-right: 0.6rem;
    border-radius: 6px;
    border-style:solid;
    padding-left: 1rem;
    font-size: 1rem;
    color: rgb(121, 202, 198);
    background-color: white;
    margin-top: 0.6rem;
    border-width: 1px;
}
.login a{
    text-decoration: none;
    margin-bottom: 2rem;
}
.login #submit{
    background-color: rgb(97, 77, 228);
    color: white;
    font-size: 1.25rem;
    cursor: pointer;
    width: 22.5rem;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold;
}
#creat_new_acc{
    background-color: chocolate;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border-style: none;
    font-size: 1rem;
    color: white;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    cursor: pointer;
    margin-bottom: 2rem;
}

h2{
    margin-top: 0rem;
    margin-left: 2rem;
    width: 500px;
    color: rgb(48, 61, 60);
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 1.75rem;
}
.container-left-1{
    width: 500px;
}
p{
    margin-left: 2.5rem;
    margin-top: 2rem;
    font-size: 0.9rem;
}
p a{
    text-decoration: none;
    color: rgb(29, 28, 28);
    font-weight: bold;
}
